* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  outline: none;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 50em;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgb(21, 255, 0);
  font-size: 1em;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  height: 100vh;
  color: white;
}

.auth-container,
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 80%;
  min-width: 50%;
  height: 80svh;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.349);
  color: rgb(0, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.123);
  border-radius: 1em;
  backdrop-filter: blur(5px);
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.signin,
.auth-form input {
  width: 250px;
}

.signup {
  cursor: pointer;
}

.search {
  display: flex;
  gap: 10px;
}

.friends-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.friend {
  font-size: 1.2em;
}

.send-message {
  display: flex;
  gap: 10px;
  margin-block: 1em;
}

.friend-modal-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

.friend-list-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
}

.friends-list-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  left: 20px;
  top: 80px;
  z-index: 99;
}

.friend-name {
  font-size: 1.1em;
  cursor: pointer;
}
.search-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.send-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.message-input {
  flex: 1;
  border: none;
}

.send-btn {
  border: none;
  background-color: none;
  padding: 0;
  font-size: 28px;
  position: fixed;
  right: 10px;
  bottom: 4px;
  z-index: 10;
}

.message-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border: 1px solid rgb(0, 252, 0);
  max-width: 90%;
  min-width: 280px;
  height: 220px;
  max-height: 220px;
  padding: 10px;
  overflow-y: auto;
  background-color: #00000060;
  border-radius: 1em;
  margin: 1em;
  z-index: 9;
  position: relative;
}

.message-bubble {
  max-width: 80%;
  padding: 8px 12px;
  border-radius: 15px;
  margin-bottom: 8px;
  font-size: 14px;
}

.sent {
  align-self: flex-end;
  background-color: #6efe00;
  color: #333;
  border-top-right-radius: 0;
}

.received {
  align-self: flex-start;
  background-color: #000000;
  color: #05fa32;
  border-top-left-radius: 0;
  border: 1px solid #00fa19;
}

.room-name {
  position: absolute;
  z-index: 999;
  background-color: black;
  border: 1px solid rgb(0, 255, 0);
  padding: 0.5em 1em;
  margin-right: 220px;
  margin-bottom: 220px;
}

.room-name p{
  color: rgb(0, 255, 0);
}
